In [2]:
import pandas as pd

In [3]:
pd.read_csv("./processed_data/filtered_m.csv")

,Unnamed: 0,bbl,15,16,17,18,19,cd,address,xcoord,ycoord
0,0,1000090007,M1,M1,M1,M1,M1,101.0,7 STATE STREET,980457.0,195256.0
1,1,1000410022,M1,M1,M1,M1,M1,101.0,56 WILLIAM STREET,981832.0,196858.0
2,2,1000490001,M1,M1,M1,M1,M1,101.0,75 BROADWAY,980907.0,197274.0
3,3,1000540001,V1,Z9,M1,O2,O2,101.0,130 GREENWICH STREET,980538.0,197809.0
4,4,1000670030,M1,M1,M1,M1,M1,101.0,44 JOHN STREET,981991.0,197619.0
...,...,...,...,...,...,...,...,...,...,...,...
953,953,1022260007,M1,M1,M1,M1,M1,112.0,111 VERMILYEA AVENUE,1005928.0,254811.0
954,954,1022370018,M1,M1,M1,M1,M1,112.0,21 SEAMAN AVENUE,1004513.0,254994.0
955,955,1022420051,M1,M1,M1,M1,M1,112.0,4967 BROADWAY,1006266.0,255705.0
956,956,1022430384,M1,B1,B1,B1,B1,112.0,93 PARK TERRACE WEST,1007261.0,257000.0
957,957,1022460115,M9,M9,M9,M9,M9,112.0,1815 RIVERSIDE DRIVE,1003814.0,254824.0